/**
 * @name NocksTheme
 * @author Nockseh#3160
 * @version 1.0
 * @description bwug
*/

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Mono:wght@500&display=swap');

.theme-dark,
.theme-light,
:root {
	--background-primary: #141414 !important;
    --background-secondary: #111111 !important;
    --background-tertiary: #0c0c0c !important;
    --background-accent: hsl(227, 31%, 22%) !important;
    --background-floating: black !important; 
    --channels-default: #9f9f9f !important;
    --text-muted: #b6b6b6 !important;
    --text-normal: #ddd !important; 
	--accent-color: hsl(227, 31%, 44%);
	--accent-color-dark: hsl(227, 31%, 22%);
	--background-modifier-accent: rgba(201,201,201,.3) !important;
	--scrollbar-thin-thumb: transparent;
	--scrollbar-thin-track: transparent;
	--scrollbar-auto-thumb: transparent;
	--scrollbar-auto-track: transparent;
	--scrollbar-auto-scrollbar-color-thumb: transparent;
	--scrollbar-auto-scrollbar-color-track: transparent;
	--profile-blend-mode: normal; /* normal if sync profile themes, exclusion otherwise */
	--text-link: hsl(200, 50%, 50%);
	/* fuck your color */
	--brand-experiment: var(--accent-color-dark) !important;
	--brand-100:var(--accent-color-dark) !important;
    --brand-130:var(--accent-color-dark) !important;
    --brand-160:var(--accent-color-dark) !important;
    --brand-200:var(--accent-color-dark) !important;
    --brand-230:var(--accent-color-dark) !important;
    --brand-260:var(--accent-color-dark) !important;
    --brand-300:var(--accent-color-dark) !important;
    --brand-330:var(--accent-color-dark) !important;
    --brand-345:var(--accent-color-dark) !important;
    --brand-360:var(--accent-color-dark) !important;
    --brand-400:var(--accent-color-dark) !important;
    --brand-430:var(--accent-color-dark) !important;
    --brand-460:var(--accent-color-dark) !important;
    --brand-500:var(--accent-color-dark) !important;
    --brand-530:var(--accent-color-dark) !important;
    --brand-560:var(--accent-color-dark) !important;
    --brand-600:var(--accent-color-dark) !important;
    --brand-630:var(--accent-color-dark) !important;
    --brand-660:var(--accent-color-dark) !important;
    --brand-700:var(--accent-color-dark) !important;
    --brand-730:var(--accent-color-dark) !important;
    --brand-760:var(--accent-color-dark) !important;
    --brand-800:var(--accent-color-dark) !important;
    --brand-830:var(--accent-color-dark) !important;
    --brand-860:var(--accent-color-dark) !important;
    --brand-900:var(--accent-color-dark) !important;
}

body {
	--header-font: inherit;
	--subheader-font: inherit;
	--channel-font: 'Fira Mono';
	--faded-white: rgba(201,201,201,.3);
	--borders: 1px solid var(--faded-white);
}

::-webkit-scrollbar {
	display:none;
}

.tooltip-2D-CpC, .tooltipPointer-sMBQqe, .tooltip-33Jwqe, .tooltipPointer-sMBQqe {
	border: var(--borders)
}

/* --- quit highlighting stuff on hover --- */
.wrapper-NhbLHG:hover a {
	background: inherit !important;
}
.wrapper-NhbLHG:not(:hover) a {
	background: inherit !important;
}
.member-2gU6Ar:hover .layout-1qmrhw {
	background:inherit;
}
.member-2gU6Ar:not(:hover) .layout-1qmrhw {
	background:inherit;
}

/* --- TOP --- */
[aria-label="Channel header"] {
	border-bottom: var(--borders);
	background: var(--background-tertiary) !important;
}
.icon-2xnN2Y { /*Top Icons @, #, Call, Pins, Inbox (Toolbar)*/
	color: var(--channels-default) !important;
}
.title-17SveM { /*Channel Name Header*/
	font-family: var(--channel-font);
	font-weight: 500;
	font-size: 20px;
	letter-spacing: 1px;
	color: var(--channels-default);
	overflow: visible;
}

.topic-11NuQZ { /*Channel Description Header*/
	font-size: 16px;
	color: var(--channels-default);
}
.name-3Uvkvr { /*Server Name - Top Left*/
	font-family: var(--subheader-font);
	color: var(--channels-default)
}

.goalText-mbRUAP, .text-xs-normal-3O7EaX { /* server boost */
	color: var(--channels-default) !important;
}
.container-1-ERn5 /* server name top left */ {
	background: var(--background-tertiary);
}
.wordmarkWindows-2dq6rw { /* Hide Logo in Titlebar*/
	visibility: hidden;
}
.titleBar-1it3bQ:after { /*Add custom Titlebar*/
	content: "Discord";
	/*font-family: 'Fira Mono';*/
	font-weight: bold;
	font-size: 16px;
	color: var(--faded-white);
	text-align: left;
	position: absolute;
	left: 10px;
	top: 3px;
	letter-spacing: 2px;
}


.userPopoutOverlayBackground-3A0Pcz.overlayBackground-2aa7wt {
	background: var(--background-primary);
}

/* SIDEBARS */
.container-2o3qEW {
	border-left: var(--borders);
}

.clickable-2AoIYN { /* Channel Group Headers*/
	/*text-decoration: underline;*/
	/*background-color: var(--background-tertiary);*/
	padding-bottom: 6px;
	background: var(--background-secondary);
	border-bottom: dashed 1px var(--faded-white);
}
.mainContent-uDGa6R { /* channel group header text */
	padding-top: 4px;
	position: absolute;
	left:30px;
	overflow: visible;
}
.name-3BUDLf.container-q97qHp{ /* the actual text ^ */
	font-size: 14px;
	font-family: 'Open Sans';
}
.arrow-2HswgU { /* Channel group header expand arrow */
	width: 20px;
	height: 20px;
	position: absolute;
	top: 2px;
	left: -25px;
}

.blobContainer-ikKyFs,
.circleIconButton-1VxDrg { /* server icons */
	border: var(--borders);
	border-width: 2px;
	border-radius: 50%;
}

.membersGroup-2eiWxl.container-q97qHp { /* Member List Role Headers */
	border-bottom: dashed 1px var(--faded-white);
	background: var(--background-secondary);
	margin-top: 20px;
	margin-bottom: 8px;
	padding-top: 20px;
	font-size: 14px;
	font-family: 'Open Sans';
}

.sidebar-1tnWFu { /*Channels sidebar*/
	border-right: var(--borders);
}
.containerDefault-YUSmu3 { /* channel buttons */
	margin-right: 8px;
}

.channelName-3KPsGw { /* channel button labels */
	font-size: 11pt;
}
.children-3MeUvj { /* add channel button */
	position: absolute;
	right: 4px;
	bottom: 2px;
}
.guilds-2JjMmN { /* server list sidebar */
	border-right: var(--borders);
}

.botTagRegular-kpctgU { /*[BOT] Tag (Includes Plugins)*/
	opacity: 0.5;
}
.botText-1fD6Qk { /*[BOT] Tag Text (Includes Plugins)*/
	font-family: inherit;
	font-weight: 600;
	letter-spacing: -0.5px;
}

.container-YkUktl { /*User Dashboard (Bottom Left) (Including Spotify Plugin)*/
	background: var(--background-tertiary) !important;
	border-top: var(--borders);
}
.gameActivityToggleAdded-Yd-YxC { /* above with gameActivityToggle compat */
	background: var(--background-tertiary) !important;
}
.peopleColumn-1wMU14 { /*Friends List Page*/
	background: var(--background-primary);
}

.username-h_Y3Us { /*Usernames in chat*/
	font-size: 13pt;
	font-weight: 600;
}

.menu-2TXYjN { /*context menu*/
	border: var(--borders);
	background: var(--background-tertiary);
}

.item-5ApiZt { /*context menu items*/
	margin: 0px;
	margin-right: 8px;
}
.submenuPaddingContainer-QgnL1r { /* context submenu */
	padding-left: 0px;
	position: relative;
	left: -4px;
}

.colorDefault-CDqZdO.focused-3qFvc8 { /*context menu hovered items*/
	background-color: inherit;
}

.connectionHeader-Ixbb1s, .connectContainer-1hylYM { /* settings -> connections */
	background: var(--background-secondary);
}
.bd-addon-header {
	background: var(--background-secondary) !important;
}
.bd-addon-card {
	border: var(--borders);
}

.container-32HW5s:hover .interactive-26HRN_ { /*friends & group dms items*/
	background: inherit;
}
.container-32HW5s:not(:hover) .interactive-26HRN_ { /*friends & group dms items*/
	background: inherit;
}

/* USER PROFILE POPOUTS (FUCK YOU x2) */
.layer-fP3xEz {
	backdrop-filter: blur(2px);
}

.buttonsInner-1ynJCY { /* message hover context menu */
	background: var(--background-secondary);
	border: var(--borders);
}

.scroller-kQBbkU.customTheme-3QAYZq.auto-2TJ1RH.scrollerBase-1Pkza4.disableScrollAnchor-3Jzgzl.managedReactiveScroller-1LjJZ5 {
	margin-right: 0px !important;
}

.group-spacing-16 .groupStart-3Mlgv1 { /* first message in message groups */
	margin-top: 5px;
	padding-top: 5px;
	border-top: 1px dashed var(--faded-white)
}

.messageListItem-ZZ7v6g {
	margin: 0px !important;
}

.scrollableContainer-15eg7h { /* message bar */
	background: var(--background-secondary);
	border: 1px solid var(--faded-white);
}
.form-3gdLxP { /* under message bar */
	background: transparent;
}

.drawerSizingWrapper-1txdWG { /* gif picker x wrapper (424px default) */
	width: 848px !important;
}
.positionContainer-dMArNx { /* gif picker y wrapper (444px default) */
	height: 888px;
}

.selected-26oxtA { /* selected friend in dms */
	background: var(--background-accent) !important;
}
.modeSelected-3DmyhH { /* selected channel */
	background: var(--background-accent);
	border-radius: 4px;
}
.selected-1-Z6gm { /* selected user in guild list */
	background: var(--background-accent);
}
.selected-1oxcpH { /* selected user in vc */
	background: var(--background-accent);
	border-radius: 4px;
}

.container-1zzFcN { /* vc dashboard */
	background: var(--background-tertiary);
	border-top: var(--borders);
}

.collapsed-2KOacR {
	border-bottom: none;
}

/* fuck you discord */
.channel-1Shao0.container-32HW5s[aria-posinset="2"], /* nitro button */
[aria-label="Send a gift"], /* gift button */
.container-2giAcK.containerWithMargin-1CVXAM, /* server boost ui */
.containerDefault-YUSmu3.wrapper-NhbLHG, /* browse channels button */
.sectionDivider-189lqb, /* divider */
.content-yjf30S div[style="height: 12px;"] /* divider */
{
	display:none;
}